[Unit]
Description=Selfbot Dashboard
After=network.target

[Service]
Type=simple
User=Dr
WorkingDirectory=/home/Dr/selfbot
ExecStart=/usr/bin/node /home/Dr/selfbot/index.js
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
